.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: yellow;
    border: red;
    /* margin-top: 1em; */
    /* margin-bottom: 1em; */
    margin: 1em 0em 1em 0em;
    height: 4em;
    width: 90vw;
    border-radius: 2em;
 }